
<!-- 加入會員 CTA -->
<div class="cta-register d-flex justify-center align-center py24 mt48 mb-mt24">
    <h4 class="h4 md fw-700 pr24">加入會員取得 9 折優惠</h4>
    <button type="button" class="btn footer-btn fw-500 md">馬上註冊</button>
</div>

<!-- Footer -->
<div class="footer">
    <div class="container py64 mb-py32 mb-pr16">
        <div class="d-flex mb-d-block pb24 align-center">
            <a href="#"><img src="/assets/images/logo.svg" class="logo pr48 mb-pb8"></a>
            <ul class="d-flex mb-d-block mlauto">
                <a href="#"><li class="pr40 py12 mb-pl12">商品列表</li></a>
                <a href="#"><li class="py12 mb-pl12">品牌故事</li></a>
            </ul>
        </div>

        <div class="top-line text-center">
            <p class="sm pb4 pt32">Copyright ©2025 URBNSTYLE</p>
            <p class="sm">All Rights Reserved.</p>
        </div>
    </div>
</div>