<!-- LOGO選單 -->
<div class="container">
    <nav class="py16 d-flex align-center">
        <div class="d-flex align-center">
            <a href="index.html"><img src="/assets/images/logo.svg" class="logo pr48"></a>
            <a href="product-list.html" class="md fw-500 py12 pr40 mb-d-none">商品列表</a>
            <a href="brandstory.html" class="md fw-500 py12 mb-d-none">品牌故事</a>
        </div>
        <a href="#" class="mlauto"><i class="bi bi-person align-center"></i></a>
    </nav>
</div>

