.btn{
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.cta-register{
    background-color: $primary-200;
}

.footer-btn{
    background-color: $text-neutral-900;
    color: $text-neutral-0;
}

.bn-button{
    background-color: $primary-300;
    border:none;
}

.size-btn .btn{
    width: 160px;
    border: 1px solid $text-neutral-300;
    background-color: transparent;
    &.btn-active{
        border: 1px solid $text-neutral-900;
    }
}


.add-button .btn{
    width: 50%;
    
    &.btn-like{
        background-color: transparent;
        border: 1px solid $text-neutral-900;
    }
    &.booking{
        color: $text-neutral-0;
        background-color: $text-neutral-900;
    }
}


@media (max-width:767px) {
    .add-button .btn.booking{
        width: calc(100% - 56px);
    }

    .add-button .btn.btn-like{
        max-width: 48px;
        font-size: 24px;
        padding-left: 12px;
        border: none;
    }
    
    
    
}