
/* margin */


.mr8{
    margin-right: 8px;
}

.mt48{
    margin-top: 48px;
}

.mb12{
    margin-bottom: 12px;
}

.mb16{
    margin-bottom: 16px;
}



.mb48{
    margin-bottom: 48px;
}



.mlauto{
    margin-left: auto;
}


@include mobile{
    .mb-mt24{
        margin-top: 24px;
    }

}
