.price{
    .h5{
        color: $primary-400;
    }
    .sm{
        color: $text-neutral-500;
    }
}


.color-choice{
    max-width: 64px;
    text-align: center;
    color: $text-neutral-600;
}

.size .sm{
    color: $danger-300;
}


.product-describe .content{
    color: $text-neutral-600;

}
