
.display1{
    line-height: 120%;
    font-size: 64px;
}

.display2{
    line-height: 120%;
    font-size: 48px;
}

.h1{
    line-height: 120%;
    font-size: 40px;
}

.h2{
    line-height: 120%;
    font-size: 32px;
}

.h3{
    line-height: 120%;
    font-size: 28px;
}

.h4{
    line-height: 120%;
    font-size: 24px;
}

.h5{
    line-height: 120%;
    font-size: 20px;
}

.h6{
    line-height: 120%;
    font-size: 16px;
}

.lg{
    font-size: 20px;
}

.md{
    font-size: 16px;
}

.sm{
    font-size: 14px;
}

.xs{
    font-size: 12px;
}

@media (max-width:767px){
    .mb-display2{
        line-height: 120%;
        font-size: 48px;
    }

    .mb-h2{
        font-size: 32px;
    }

    .mb-h3{
        font-size: 28px;
    }
    .mb-h4{
        font-size: 24px;
    }
    .mb-h5{
        font-size: 20px;
    }
    .mb-h6{
        font-size: 16px;
    }

    .mb-md{
        font-size: 16px;
    }
}


.fw-700{
    font-weight: 700;
}

.fw-500{
    font-weight: 500;
}











