/* 變數樣式 */
$primary-100: #F5FEE7;
$primary-200: #E8FEC5;
$primary-300: #C0FA73;
$primary-400: #57A203;
$primary-500: #477A11;
$text-neutral-0: #ffffff;
$text-neutral-100: #F8F9FA;
$text-neutral-200: #E9ECEF;
$text-neutral-300: #DEE2E6;
$text-neutral-400: #CED4DA;
$text-neutral-500: #ADB5BD;
$text-neutral-600: #6C757D;
$text-neutral-700: #495057;
$text-neutral-800: #343A40;
$text-neutral-900: #212529;
$danger-100: #FCF1F1;
$danger-200: #EBA7A7;
$danger-300: #D74F4F;
$Success-100: #EFF8F4;
$Success-200: #9AD1BA;
$Success-300: #36A375;
$Warning-100: #FEF6EC;
$Warning-200: #F9C588;
$Warning-300: #F38B12;
$Info-100: #EEF5FC;
$Info-200: #97C3ED;
$Info-300: #3087DB;
$radius-sm: 4px;
$radius-md: 12px;
$radius-rounded: 1000px;
