<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); %>
  
    <nav class="d-none mb-d-flex">
        <a href="product-list.html" class="index-category1 md fw-500 py12">商品列表</a>
        <a href="brandstory.html" class="index-category2 md fw-500 py12">品牌故事</a>
    </nav>

        <!-- Banner -->
    <picture class="index-banner">
        <source srcset="/assets/images/banner-sm.png" media="(max-width: 767px)">
        <img src="/assets/images/banner.png" alt="banner">
        <div class="index-banner-text d-flex">
            <div class="f-d-column align-center">
              <h1 class="display1 mb-display2 fw-700 pb16">URBNSTEP</h1>
              <h3 class="h3 mb-h5 fw-700 pb48">Your Step, Your Statement</h3>
              <button type="button" class="btn bn-button fw-500 md">立即選購</button>
          
            </div>
        </div>
    </picture>

<!-- 產品目錄 -->
    <main class="container py64 mb-py40">
        <div class="pb32 mb-pb24 text-center">
            <h2 class="display2 mb-h2 pb12 mb-pb8 fw-700">New Arrival</h2>
            <h4 class="h2 mb-h4 fw-700">新品上市</h4>
        </div>
        <div class="products row mb-row">
            <div class="card col-6 mb-col-2 pb40">
                <img src="/assets/images/new-1.png" alt="new-1" class="pb12 mb-pb8">
                <h5 class="h5 mb-h6 pb4 mb-pb0 fw-700">Monoverse</h5>
                <p class="md fw-500">NT$3,600</p>
            </div>

            <div class="card col-6 mb-col-2 pb40">
                <img src="/assets/images/new-2.png" alt="new-2" class="pb12 mb-pb8">
                <h5 class="h5 mb-h6 pb4 mb-pb0 fw-700">PLATFORM 404</h5>
                <p class="md fw-500">NT$2,600</p>
            </div>

            <div class="card col-6 mb-col-2">
                <img src="/assets/images/new-3.png" alt="new-3" class="pb12 mb-pb8">
                <h5 class="h5 mb-h6 pb4 mb-pb0 fw-700">URBN Force</h5>
                <p class="md fw-500">NT$3,200</p>
            </div>

            <div class="card col-6 mb-col-2">
                <img src="/assets/images/new-4.png" alt="new-4" class="pb12 mb-pb8">
                <h5 class="h5 mb-h6 pb4 mb-pb0 fw-700">Mode90</h5>
                <p class="md fw-500">NT$4,000</p>
            </div>
        </div>
    </main>


<!-- 熱銷補貨 -->
    <section class="hotsale container py64 mb-py40">
        <h2 class="h2 mb-h4 fw-700 py5 pb16">熱銷補貨</h2>
          <div class="row hotsale-mb-row mb-f-nowrap mb-over-x-auto">
            <div class="col-3">
                <div class="hotsale">
                  <img src="/assets/images/product-3.png" alt="product3">
                  <p class="hotcard sm ">人氣 No.1</p>
                </div>
            </div>

            <div class="col-3">
                <div class="hotsale">
                  <img src="/assets/images/product.png" alt="product">
                  <p class="hotcard sm ">人氣 No.1</p>
                </div>
            </div>
            
            <div class="col-3">
                <div class="hotsale">
                  <img src="/assets/images/product-6.png" alt="product6">
                  <p class="hotcard sm ">人氣 No.1</p>
                </div>
            </div>
            
            <div class="col-3">
                <div class="hotsale">
                  <img src="/assets/images/product-4.png" alt="product4">
                  <p class="hotcard sm ">人氣 No.1</p>
                </div>
            </div>
          </div>
    </section>
    
<!-- Banner2 -->
    <section class="banner2 py48 mb-py24">
      <div class="banner2text py100 mb-py64">
        <div class="d-flex pb16 justify-center mb-f-d-column">
          <h3 class="display2 mb-h2 fw-700">URBNSTEP</h3>
          <h3 class="h1 mb-h3 fw-700 px24">x</h3>
          <h3 class="display2 mb-h2 fw-700">Kevin Chen</h3>
        </div>

        <h4 class="h2 mb-h5 fw-700 pb32 mb-pb24">跨界聯名，限量發售</h4>
        <p class="p lg mb-md pb48 mb-pb32">
          <span class="mb-pb4 mb-d-block">新銳漫畫家 Kevin Chen 親自操刀設計</span>
          <span class="mb-d-none">，</span>
          <span class="mb-d-block">街頭能量全面引爆！</span>
        </p>
          
        <button type="button" class="btn bn-button fw-500 md">立即選購</button>
      </div>

      <img src="/assets/images/star.svg" alt="star" class="banner2star">
      <img src="/assets/images/sparkle.svg" alt="sparkle" class="banner2sparkle">

    </section>

<!-- 系列選購 -->
    <section class="container py64 mb-py40">
      <h2 class="h2 mb-h4 fw-700 pb16">依系列選購</h2>
      <div class="row mb-row">
        <div class="col-3 mb-col-2">
          <div class="seriescard">
            <img src="/assets/images/product-6.png" alt="product">
            <div class="seriesname">
              <h3 class="h3 fw-700 mb-h6 pb8">URBN RUNNER</h3>
              <h4 class="h4 fw-700 mb-h6">慢跑系列</h4>
            </div>
          </div>
        </div>

        <div class="col-3 mb-col-2">
          <div class="seriescard">
            <img src="/assets/images/product-11.png" alt="product">
            <div class="seriesname">
              <h3 class="h3 fw-700 mb-h6 pb8">STREETMODE</h3>
              <h4 class="h4 fw-700 mb-h6">滑板系列</h4>
          </div>
          </div>
        </div>

        <div class="col-3 mb-col-2">
          <div class="seriescard">
            <img src="/assets/images/product-9.png" alt="product">
            <div class="seriesname">
              <h3 class="h3 fw-700 mb-h6 pb8">CHUNK DISTRICT</h3>
              <h4 class="h4 fw-700 mb-h6">厚底系列</h4>
          </div>
          </div>
        </div>

        <div class="col-3 mb-col-2">
          <div class="seriescard">
            <img src="/assets/images/product-10.png" alt="product">
            <div class="seriesname">
              <h3 class="h3 fw-700 mb-h6 pb8">COLLAB ZONE</h3>
              <h4 class="h4 fw-700 mb-h6">聯名企劃</h4>
          </div>
          </div>
        </div>

        
      </div>
    </section>

<!-- 穿搭靈感 -->
    <section class="inspiration container py64 mb-py40">
      <h2 class="h2 mb-h4 fw-700 pb16">穿搭靈感</h2>

      <div class="pics-row">
        <div class="pic-col-4">
          <div class="pics-row">
              <img src="/assets/images/inspiration-1.png" alt="" class="pic-col-6">
              <img src="/assets/images/inspiration-2.png" alt="" class="pic-col-6">
              <img src="/assets/images/inspiration-3.png" alt="" class="pic-col-12">
          </div>
        </div>

        <div class="pic-col-4">
          <div class="pics-row">
              <img src="/assets/images/inspiration-4.png" alt="" class="pic-col-6">
              <img src="/assets/images/inspiration-5.png" alt="" class="pic-col-6">
              <img src="/assets/images/inspiration-6.png" alt="" class="pic-col-6">
              <img src="/assets/images/inspiration-7.png" alt="" class="pic-col-6">
              <img src="/assets/images/inspiration-8.png" alt="" class="pic-col-6">
              <img src="/assets/images/inspiration-9.png" alt="" class="pic-col-6">
          </div>
        </div>

        <div class="pic-col-4">
          <div class="pics-row">
              <img src="/assets/images/inspiration-10.png" alt="" class="pic-col-12">
              <img src="/assets/images/inspiration-11.png" alt="" class="pic-col-6">
              <img src="/assets/images/inspiration-12.png" alt="" class="pic-col-6">
          </div>
        </div>

      </div>
    </section>

    <%- include('./layout/footer'); %>

    <script type="module" src="../main.js"></script>
  </body>
</html>
